* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0 12px;
  background-color: $warmer;
  font-family: 'Rubik', sans-serif;;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One', serif;
  text-transform: capitalize;
}

h2 {
  margin-bottom: 8px;
  display: inline;
  vertical-align: text-top;
  color: $warm;
}

a {
  color: $cool;
  img {
    border-color: $cool;
  }
}
a:hover {
  color: $neutral;
  img {
    border-color: $neutral !important;
  }
}

#app-root {
  color: $neutral;
  width: 100%;
  height: inherit;
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  background-color: $cooler;
  //border: 6px dashed $warmer;
}
