$warmer: #F26627;
$warm: #F9A26C;
$neutral: #EFEEEE;
$cool: #9BD7D1;
$cooler: #325D79;

$breakpoint-micro: 380px;
$breakpoint-xsmall: 480px;
$breakpoint-small: 640px;
$breakpoint-tablet: 770px;
$breakpoint-medium: 990px;
$breakpoint-large: 1100px;
$breakpoint-xlarge: 1280px;
