.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 120px;
  padding: 10px 20px;
  background-color: $warmer;

  li {
    font-size: 36px;
    font-family: 'Press Start 2P';
  }

  p {
    display: inline;
  }

  .home-title {
    span {
      font-size: 14px;
    }
  }

  @media (max-width: $breakpoint-small) {
    justify-content: center;
  }

  @media (max-width: $breakpoint-small) {
    li {
      font-size: 28px;
    }
  }

  @media (max-width: $breakpoint-xsmall) {
    li {
      font-size: 24px;
    }
  }

  @media (max-width: $breakpoint-micro) {
    li {
      font-size: 20px;
    }
    .home-title {
      span:last-child {
        font-size: 12px;
      }
    }
  }

}
