.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
  padding: 10px 20px;
  background-color: $warmer;

  a {
    text-decoration: underline;
  }

  li {
    font-size: 36px;
    font-family: 'Patua One', sans-serif;
  }

  h1 {
    display: inline;
  }

  .home-title {
    span {
      font-size: 14px;
    }
  }

}
