.post-details {

  padding: 42px;

  input, textarea {
    border: 1px solid $cooler;
    color: $cooler;
    outline: none;
    padding: 8px;
  }

  textarea {
    height: 120px;
  }

  .comments {
    display: flex;

    form, ul {
      width: 50%;
    }

    ul {
      padding-right: 21px;
    }
  }

  .comment {
    margin-bottom: 10px;
  }

  .label-input, .label-textarea, .label-submit {
    margin-bottom: 8px;
  }

  .post-body {
    margin-bottom: 42px;
  }

}
