.post-details {

  h2, h3 {
    font-family: 'Rubik', sans-serif !important;
  }

  label {
    display: block;
    margin-bottom: 4px;
  }

  input, textarea {
    border: 1px solid $cooler;
    border-radius: 8px;
    color: $cooler;
    outline: none;
    padding: 8px;
  }

  input[type="submit"] {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.95);
  }
  input[type="submit"]:hover {
    background: rgba(255, 255, 255, .85);
  }

  textarea {
    height: 140px;
  }

  .comments {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 24px;

    form, ul {
      width: 100%;
    }

    form {
      height: min-content;
      border: 1px solid $cooler;
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 24px;
    }

    ul {
      li {
        border-bottom: 1px solid $cool;
        padding-bottom: 10px;
      }
      li:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }

  .comment {
    margin-bottom: 16px;
  }

  .comment-name {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: bold;
  }

  .comment-body {
    padding-bottom: 12px;
  }

  .label-input, .label-textarea, .label-submit {
    margin-bottom: 16px;
  }

  .post-body {
    margin-bottom: 16px;
  }

  @media (min-width: $breakpoint-tablet ) {
    form, ul {
      width: 50%;
    }
    ul {
      padding-right: 21px;
    }
    .comments {
      flex-direction: row;
    }
  }

}

.post-not-found {
  padding: 42px;
  a {
    cursor: pointer;
  }
  p {
    margin-bottom: 12px;
  }
}
