.followers {

  padding: 24px 24px 6px 24px;

  .followers-head {
    margin-bottom: 8px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  li {
    width: 20%;
    padding: 8px 6px;
    box-sizing: border-box;
  }

  a {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 8px;
    border: 1px solid $cool;
  }

  @media (max-width: $breakpoint-medium ) {
    li {
      width: 25%;
      font-size: 11px;
    }
    a {
      font-size: 10px;
    }
    img {
      width: 38px;
      height: 38px;
    }
  }

  @media (max-width: $breakpoint-tablet ) {
    li {
      width: 33.33%;
    }
  }

  @media (max-width: $breakpoint-small ) {
    li {
      width: 50%;
    }
  }

  @media (max-width: $breakpoint-xsmall ) {
    li {
      width: 100%;
    }
  }

}