.typeahead-select-box {
  padding: 0 12px;
  ul {
    max-height: 240px;
    overflow-y: scroll;
  }
  input {
    background: transparent;
    border: 1px solid white;
    outline: none;
    padding: 12px;
    font-size: 1em;
    color: white;
  }
  input::placeholder {
    opacity: 0.5;
  }
  a {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 6px 12px;
    background: $warm;
    color: $cooler;
  }
  a:hover {
    background-color: rgba($warm,0.8);
  }
}