.typeahead-select-box {
  padding: 0 12px;
  ul {
    max-height: 360px;
    overflow-y: scroll;
  }
  input {
    background: transparent;
    border: 1px solid white;
    outline: none;
    padding: 12px;
    font-size: 1em;
    color: white;
  }
  input::placeholder {
    opacity: 0.5;
  }
  a {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 6px 12px;
    background: $warm;
    color: $cooler;
    text-decoration: none;
  }
  a:hover {
    background-color: rgba($warm,0.8);
  }

  .options-list.all {
    height: 50%;
  }

  .input-field {
    position: relative;
    .select-aff {
      position: absolute;
      right: 0;
      height: 100%;
      width: 44px;
      background: rgba($neutral,0.25);
      cursor: pointer;
      font-size: 2em;
    }
    .select-aff::after {
      content: '>';
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .select-aff.closed {
      rotate: 90deg;
    }
    .select-aff.open {
      rotate: -90deg;
    }
    .select-aff.suggestions::after{
      content: 'X';
      font-size: 0.9em;
      padding-top: 5px;
    }
  }
}
